.header{
    margin: 0 auto;
    background: url(../img/header.png) no-repeat;  
    background-size: cover;
    max-width: 1600px;
    width: 100%;
    height: 938px;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin:  0 auto;
}
 .menu{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 30px;
 }
 .right_b{
     display: flex;
     align-items: center;
 }
 .menu_link{
    position: relative;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    width: 399px;
    max-width: 100%;
 }
.link_name{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #1A2805;
    opacity: 0.6;
}
.home{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    color: #1A2805;
    
}
.home::before{
    content: '';
    background-image: url("../img/Group.png");
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: -19px;
}

.menu_btn{
    width: 183px;
    height: 55px;
    background: #1DC22E;
    color: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.header_main{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}
.header_p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #08150A;
}

.btn__GerStarted{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    width: 193px;
    height: 60px;
    background-color: #1DC22E;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.fecures{
    padding-top: 50px;
    max-width: 1044px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.group{
    width: 264px;
    height: 181px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}
.group h1{
    font-size: 20px;
}
.rate{
    padding-top: 200px;
    max-width: 1179px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.right_r{
    margin-top: 65px;
}
.right_r h1{
    font-family: 'Asap';
    font-weight: 700;
    font-size: 51px;
    color: #08150A;
}
.right_r p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #08150A;
    opacity: 0.8;
}
.price{
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 50px;
}
.price p{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    color: #08150A;
}
.line{
    width: 1px;
    height: 13px;
    background-color: black;
    margin-left: 5px;
    margin-right: 5px;
}
.star{
    background: url("../img/Star1.png");
    width: 17px;
    height: 17px;
}
.star_none{
    background: url("../img/Star5.png");
    width: 17px;
    height: 17px;
}
.rate_btn{
    margin-top: 20px;
    background-color: #1DC22E;
    width: 193px;
    height: 60px;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.testomoneil{
    max-width: 1157px;
    width: 100%;
    margin: 0 auto;
}
.top_text h1{
    font-family: 'Asap';
    font-weight: 700;
    font-size: 51px;
    color: #08150A;
}
.linetext{
    width: 1139px;
    height: 2px;
    background-color: #AD8709;
}
.icon_group{
    margin-top: 211px;
    display: flex;
    justify-content: space-between;
}
.content__round {
    width: 265px;
    height: 382px;
    background: rgba(246, 216, 118, 0.7);
    border-radius: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    -webkit-border-radius: 260px;
    -moz-border-radius: 260px;
    -ms-border-radius: 260px;
    -o-border-radius: 260px;
}
 .content__img {
    margin-bottom: 155px;
    margin-left: 22px;
    width: 205px;
    height: 167px;
    background: url("../img/eaticon.png") center; 
    border-radius: 50%;
 }
 .content__text {
    position: absolute;
    top: 34%;
    left: 50%;
    width:263px;
    height: 251px;
    background: #FFFAEE;
    border-radius: 50%;
    opacity: 0.9;
    text-align: center;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    z-index: 2;
 }
.price{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__text__block{
    margin-top: 55px;
}
.content__text__block h1{
    margin-top: 10px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 21px;
    color: #08150A;
}
.content__text__block P{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    color: #08150A;
    opacity: 0.9;
}
.letter{
    padding-top: 300px;
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
.left_r{
    margin-top: 50px;
}
.letter_contact{
    display: flex;
    margin-top: 50px;
}
.letter_text p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #08150A;
}
.contact_inf h1{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    color: #08150A;
}
.contact_inf p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: #08150A;
}
.footer{
    margin: 0 auto;
    background: url(../img/footer.png) no-repeat;  
    background-size: cover;
    max-width: 1600px;
    width: 100%;
    height: 398px;
}
.container_footer{
    display: flex;
    justify-content: space-between;
    padding-top: 180px;
    max-width: 1138px;
    width: 100%;
    margin: 0 auto;
}
.left_three_group,
.left_two_group,
.left_one_group{
    width: 112px;
}
.left_three_group,
.left_two_group,
.left_one_group{
    width: 112px;
}

@media(max-width:1024px) {
    .price{
        width: 40%;
    }
    .header{
        height: 670px;
    }
    .rate{
        width: 94%;
        padding-top: 0px;
    }
    .icon_group{
        margin-top: 100px;
    }
    .testomoneil{
        width: 90%;
    }
    .letter{
        padding-top: 0px;
        width: 90%;
    }
    .right_r img{
        width: 340px;
        height: 250px;
    }
    .container_footer {
        padding-top: 100px;
        max-width: 900px;
    }
    .container {
        max-width: 950px;
    }
    .header_main{
        margin-top: 75px;
    }
    .img_name_food{
        width: 420px;
        height: 350px;
    }
    .linetext{
        width: 97%;
    }
    .footer{
        height: 253px;
    }
}
@media(max-width:768px){
    .header_main{
        margin-top: 20px;
    }
    .btn__GerStarted{
        margin-top: 20px;
    }
    .header_p{
        display: none;
    }
    .container{
        width: 90%;
    }
    .rate{
        flex-wrap: wrap;
    }
    .right_b{
        display: none;
    }
    .right_m{
        display: none;
    }
    .rate{
        justify-content: center;
    }
    .right_r{
        margin-top: 0px;
    }
    .icon_group{
        flex-wrap: wrap;
    }
    .content__round:nth-child(3){
        margin: 0 auto;
    }
}
@media(max-width:425px){
    .header{
        height: 350px;
    }
    .header_h1 img{
        width: 95%;
    }
    .left_r img{
        width: 400px;
    }
    .fecures{
        flex-wrap: wrap;
    }
    .content__round{
        margin: 0 auto;
    }
    .letter{
        flex-wrap: wrap;
    }
    .left_r img {
        width: 90px;
    }
    .right_r img {
        width: 370px;
        height: 250px;
    }
    .letter_contact {
        display: flex;
        margin-top: 14px;
    }
    .left_one_group,
    .left_two_group,
    .left_three_group{
        display: none;
    }
    .left_group{
        margin: 0 auto;
    }
    .container_footer {
        padding-top: 65px;
    }
    .messenger_icon{
        display: flex;
        justify-content: space-between;
    }
    .footer{
        height: 200px;
    }
    .container_footer {
        padding-top: 45px;
    }
}
@media(max-width:320px){
    .left_r img {
        width: 80px;
    }
    .right_r img {
        width: 250px;
        height: 179px;
    }
    .content__round:nth-child(3),
    .content__round{
        margin-top: 10px;
    }
}